<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div class="container" style="padding-top: 80px">
  <div class="col-md-5">
    <div>
      <h3>系统设置 <button class="btn btn-xs btn-success" ng-click="getConfig()"><i class="fa fa-refresh"></i></button></h3>
    </div>
    <div style="padding-top: 10px">
      <pre>{{configStr}}</pre>
    </div>
  </div>

  <div class="col-md-5">
    <div>
      <h3>系统变量 <button class="btn btn-xs btn-success" ng-click="getEnv()"><i class="fa fa-refresh"></i></button></h3>
    </div>
    <div style="padding-top: 10px">
      <pre>{{envStr}}</pre>
    </div>
  </div>

  <div class="col-md-2">
    <div>
      <h3>操作</h3>
    </div>
    <div style="padding-top: 10px;width: 260px;">
      <a  class="btn btn-primary btn-lg btn-block" tooltip="重新加载所有元数据并清除缓存" ng-click="reloadMeta()">重载元数据</a>
    </div>
    <div style="padding-top: 10px;width: 260px;">
      <a ng-click="calCardinality();" tooltip="Calculate cardinality of tables" class="btn btn-primary btn-lg btn-block">Calculate Cardinality</a>
    </div>
    <div style="padding-top: 10px;width: 260px;" ng-if="false">
      <a class="btn btn-success btn-lg btn-block" tooltip="清理未使用的HDFS和HBASE空间" ng-click="cleanStorage()">清理存储</a>
    </div>
    <div style="padding-top: 10px;width: 260px;">
      <a ng-click="openSparderUrl();" tooltip="单击以访问Sparder URL." class="btn btn-primary btn-lg btn-block"><i class="fa fa-server"></i>Sparder</a>
    </div>
    <div style="padding-top: 10px;width: 260px;" ng-if="isCacheEnabled()">
      <a class="btn btn-primary btn-lg btn-block" ng-click="disableCache()">关闭缓存</a>
    </div>
    <div style="padding-top: 10px;width: 260px;" ng-if="!isCacheEnabled()">
      <a  class="btn btn-primary btn-lg btn-block" tooltip="启用查询缓存" ng-click="enableCache()">开启缓存</a>
    </div>
    <div style="padding-top: 10px;width: 260px;">
      <a class="btn btn-primary btn-lg btn-block" tooltip="更新系统设置"  class="btn btn-primary btn-lg"  ng-click="toSetConfig()">修改设置</a>
    </div>
    <div style="padding-top: 10px;width: 260px;">
      <a class="btn btn-primary btn-lg btn-block" tooltip="重载系统设置"  class="btn btn-primary btn-lg"  ng-click="reloadConfig()">重置设置</a>
    </div>
    <div style="padding-top: 10px;width: 260px;">
      <a ng-click="downloadBadQueryFiles();" tooltip="下载当前项目的分析信息" class="btn btn-primary btn-lg btn-block"><i class="fa fa-ambulance"></i> 分析信息</a>
    </div>

    <!--<div>-->
      <!--<h3>Links</h3>-->
    <!--</div>-->
    <!--<div style="padding-top: 10px" ng-if="config.reference_links['hadoop']">-->
      <!--<a class="label-lg label-yellow arrowed-right"style="font-size:18px;" tooltip="Cluster Resource Monitoring" href="{{config.reference_links['hadoop'].link}}" >-->
        <!--Hadoop Monitor-->
      <!--</a>-->
    <!--</div>-->
  </div>
</div>

<script type="text/ng-template" id="calCardinality.html">
  <div class="modal-header">
    <h4>加载配置单元表元数据</h4>
  </div>
  <div class="modal-body load-hive-metawrapper">
    <label for="table">表名称: (Separate with comma)</label>
    <input ng-model="$parent.tableName" class="form-control" id="table" placeholder="table1，table2默认情况下，系统会选择“默认”作为数据库，您可以像“database.table”一样指定数据库"/>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="calculate()">同步</button>
    <button class="btn btn-primary" ng-click="cancel()">取消</button>
  </div>
</script>

<script type="text/ng-template" id="updateConfig.html">
  <ng-form name="config_update_form">
    <div class="modal-header">
      <h4>修改设置</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label><b>Key</b></label>

        <div class="clearfix">
          <input name="key_input" type="text" class="form-control" placeholder="Config Key.."
                 ng-model="state.key"
                 required/>

          <p class="text-warning"
             ng-show="config_update_form.key_input.$invalid && !config_update_form.key_input.$pristine">&nbsp;&nbsp;Key必填.</p>
        </div>
      </div>
      <div class="form-group">
        <label><b>Value</b></label>

        <div class="clearfix">
          <input name="value_input" type="text" class="form-control" placeholder="Config Value.."
                 ng-model="state.value"
                 required/>

          <p class="text-warning"
             ng-show="config_update_form.value_input.$invalid && !config_update_form.value_input.$pristine">&nbsp;&nbsp;值必填.</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="update()" ng-disabled="config_update_form.key_input.$invalid || config_update_form.value_input.$invalid">更新</button>
      <button class="btn btn-primary" ng-click="cancel()">取消</button>
    </div>
  </ng-form>
</script>
