<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<script type="text/ng-template" id="addGroup.html">
  <ng-form name="group_create_form">
    <div class="modal-header">
      <h4>新增用户组</h4>
    </div>
    <div class="modal-body" style="background-color: white">
      <div class="form-group">
        <label><b>用户组名称</b></label>
        <div class="clearfix">
          <input name="name_input" type="text" class="form-control" ng-model="group.name" required
                 placeholder="可以使用字母、数字和下划线字符 '_'"
                 ng-maxlength=100 ng-pattern="groupPattern"/>
                    <span class="text-warning"
                          ng-if="group_create_form.name_input.$error.required  && group_create_form.name_input.$dirty"
                    >&nbsp;用户组名称必填</span>
                    <span class="text-warning"
                          ng-if="group_create_form.name_input.$invalid && group_create_form.name_input.$dirty && !group_create_form.name_input.$error.required"
                    >&nbsp;用户组名称不可用</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="cancel()">关闭</button>
      <button class="btn btn-success" ng-click="saveGroup()" ng-disabled="group_create_form.$invalid || dialogActionLoading">
        提交
      </button>
    </div>
  </ng-form>
</script>

