<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<script type="text/ng-template" id="addUser.html">
  <ng-form name="user_create_form">
    <div class="modal-header">
      <h4>新建用户</h4>
    </div>
    <input name="username" type="text" style="display:none"/>
    <input name="password" type="password" style="width:1px;height:0;border:none"/>
    <div class="modal-body" style="background-color: white">
      <div class="form-group">
        <label><b>用户名</b></label>
        <div class="clearfix">
          <input name="name_input" type="text" class="form-control" ng-model="user.name" required
                 placeholder="使用字母、数字和下划线字符 '_'"
                 ng-maxlength=100 ng-pattern="userPattern"/>
                    <span class="text-warning"
                          ng-if="user_create_form.name_input.$error.required  && user_create_form.name_input.$dirty"
                    >&nbsp;用户名必填</span>
                    <span class="text-warning"
                          ng-if="user_create_form.name_input.$invalid && user_create_form.name_input.$dirty && !user_create_form.name_input.$error.required"
                    >&nbsp;用户名不可用</span>
        </div>
      </div>
      <div class="form-group">
        <label><b>User 密码</b></label>
        <div class="clearfix">
          <input ng-pattern="pwdPattern" required name="pwd_input" type="password" class="form-control" placeholder="密码应该至少有8个字符，并且至少包含一个数字、字母和特殊字符（~!@#$%^&*(){}|:&quot;\<\>?[];\',./`)." ng-model="user.password"/>
          <span class="text-warning"
                          ng-if="user_create_form.pwd_input.$error.required  && user_create_form.pwd_input.$dirty"
                    >&nbsp;密码必填</span>
                    <span class="text-warning"
                          ng-if="user_create_form.pwd_input.$invalid && user_create_form.pwd_input.$dirty && !user_create_form.pwd_input.$error.required"
                    >&nbsp;密码不可用</span>
        </div>
      </div>
      <div class="form-group">
          <label><b>User Role</b></label>
          <div class="clearfix">
              <label>
                  <input type="radio" name="isadmin" ng-model="user.isAdmin" ng-value="true"/> 管理人员
              </label>
              <label>
                  <input type="radio" name="isadmin" ng-model="user.isAdmin" ng-value="false"/> 用户
              </label>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="cancel()">关闭</button>
      <button class="btn btn-success" ng-click="saveUser()" ng-disabled="user_create_form.$invalid || dialogActionLoading">
        提交
      </button>
    </div>
  </ng-form>
</script>

