<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->
<!-- kafka config-->
<form class="form-horizontal" name="table_data_from" novalidate>
  <div class="modal-header">
    <div class="box-header">
      <h3 class="box-title">流式传输表</h3>
      <h5 class="" style="">将流式传输模式映射到表</h5>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" ng-click="cancel()"><i class="fa fa-times"></i></button>
      </div>
    </div>
  </div>
  <div class="modal-body streaming-source">
    <div class="row has-error text-center" ng-if="streaming.errMsg">
      <small class="help-block">{{streaming.errMsg}}</small>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <div class="text-info" ng-if="tableConfig.streamingSourceType.kafka === tableData.source_type">
          请输入主题记录样本，或自动获取<i class="fa fa-file-text" style="cursor: pointer;" ng-click="getTemplate()"></i>
        </div>
        <div style="margin-bottom: 10px;">
          <span class="label label-info">JSON</span>
        </div>
        <div class="col-xs-12" style="border:1px solid #ddd;" ui-ace="{useWrapMode: true, mode:'json'}" ng-model="streaming.template"></div>
      </div>

      <div class="col-xs-1" style="margin-top:300px;text-align:center;">
        <button type="button" class="btn btn-primary" ng-click="getTableData()">
          <i class="fa fa-angle-double-right fa-5" style="font-size:2em;"></i>
        </button>
      </div>

      <div class="col-xs-6" ng-show="tableData">

        <div class="form-group required">
          <label for="tableName" class="col-sm-3 control-label font-color-default">表名</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="tableName" ng-model="tableData.name" name="tableName" placeholder="输入表名称， 比如： database.table" required>
            <small class="help-block" ng-show="table_data_from.tableName.$error.required && table_data_from.tableName.$dirty">
              表名为空.
            </small>
          </div>
          <div class="form-group col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="streaming.lambda">
                Lambda
              </label>
            </div>
          </div>
        </div>

        <div class="form-group required">
          <label for="TSColumn" class="col-sm-3 control-label font-color-default">TS列</label>
          <div class="col-sm-6">
            <select id="TSColumn" chosen ng-model="streaming.TSColumnSelected" ng-options="TSColumn as TSColumn for TSColumn in streaming.TSColumnArr" data-placeholder="选择一个列名" style="width: 120px !important;" class="chosen-select" ng-change="updateTSColumnOption(streaming.TSColumnSelected)"></select>
          </div>
        </div>
        <div class="form-group">
          <label for="TSParser" class="col-sm-3 control-label font-color-default">TS解析器</label>
          <div class="col-sm-9">
            <select id="TSParser" chosen ng-model="streaming.TSParser" ng-options="TSParser as TSParser for TSParser in streaming.TSParserArr" data-placeholder="选择一个时间分析器" style="width: 360px !important;" class="chosen-select" ng-change="updateDateTimeParserOption(streaming.TSParser)"></select>
          </div>
        </div>
        <div class="form-group">
          <label for="TSPattern" class="col-sm-3 control-label font-color-default">TS模式</label>
          <div class="col-sm-9">
            <select id="TSPattern" chosen ng-model="selectedTsPattern" ng-options="TSPattern as TSPattern for TSPattern in streaming.TSPatternArr" data-placeholder="选择时间模式" style="width: 360px !important;" class="chosen-select" ng-change="updateTsPatternOption(selectedTsPattern)"></select>
          </div>
          <input ng-if="selfDefinedTsPattern" type="text" id="RealTSPattern" ng-model="streaming.TSPattern" name="realTSPattern" style="margin-top:10px;margin-left:200px;width:360px" placeholder="Input Your TSPattern" required autofocus>
        </div>

        <div>
          <table class="table table-hover table-bordered">
            <tr>
              <th></th>
              <th>列</th>
              <th>类型</th>
              <th>映射</th>
              <th width="15%">注释</th>
            </tr>
            <tr ng-repeat="column in tableData.columns">
              <td>
                <i class="fa fa-minus" style="margin-top:10px;cursor:pointer;" ng-click="removeColumn($index)"></i>
              </td>
              <td>
                <input type="text" class="form-control" ng-readonly="isDerived(column)" ng-model="column.name" placeholder="输入列名" />
              </td>
              <td>
                <select chosen ng-model="column.datatype" ng-options="datatype as datatype for datatype in streaming.dataTypeArr" data-placeholder="选择列类型" style="width: 120px !important;" class="chosen-select" ng-change="updateTSColumnOption(column)">
                </select>
              </td>
              <td>{{column.field_mapping}}</td>
              <td>
                {{column.comment}}
                <label ng-if="isDerived(column)" class="badge badge-info">派生时间维度</label>
              </td>
            </tr>
            <tr>
              <td>
                <i class="fa fa-plus" style="margin-top:10px;cursor:pointer;" ng-click="addColumn()"></i>
              </td>
              <td>
                <input type="text" class="form-control" ng-model="additionalColumn.name" name="additionalColumnName" placeholder="输入列名" ng-change="initFieldMapping()" />
              </td>
              <td>
                <select chosen ng-model="additionalColumn.datatype" ng-options="datatype as datatype for datatype in streaming.dataTypeArr" data-placeholder="选择列类型" style="width: 120px !important;" class="chosen-select">
                </select>
              </td>
              <td>
                <input type="text" class="form-control" ng-model="additionalColumn.field_mapping" name="additionalColumnFieldMapping" placeholder="输入列映射信息" />
              </td>
              <td>
                <input type="text" class="form-control" ng-model="additionalColumn.comment" name="additionalColumnComment" placeholder="输入列注释" />
              </td>
            </tr>
            <tr ng-if="additionalColumn.error">
              <td colspan="5" class="text-center" style="color: #b94a48">{{additionalColumn.error}}</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-8">
        <button class="btn btn-prev" ng-click="previewStep()">
          <i class="ace-icon fa fa-arrow-left"></i>上一个</button>
        <button id="nextButton" class="btn btn-primary"  ng-click="saveStreamingSource()">
          提交
        </button>
      </div>
    </div>
  </div>
</form>
